*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height:100vh;
    display:grid;
    place-items:center;
    background-color: black;
    overflow:hidden;
}
.logo-container{
    width: 150px;
    height: 250px;
    position: relative;
    display: block;
    animation: zoom 2s linear forwards;
    animation-delay: 2S;
}
.logo-container::after {
 
    width: 150%;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left:-25%;
    bottom:-17%;
    z-index:5;
}
.logo-container span{
    width: 50px;
    background-color: rgb(205, 196, 32);
    position: absolute;
}
.left{
    left:0;
    bottom: 0;
    height:0;
    animation: animbars 0.5s linear forwards;
}
.center{
    top:0;
    left: 0;
    height:0;
    transform: skewX(22deg);
    transform-origin: top left;
    box-shadow: 0 0 50px black;
    z-index:2;
    animation: animbars 0.5s linear forwards;
    animation-delay: 0.5s;
}
.right{
    right:0;
    bottom: 0;
    height:0;
    animation: animbars 0.5s linear forwards;
    animation-delay: 1s;
}

@keyframes animbars{
    100%{
        height: 100%;
    }
}
@keyframes zoom{
    100%{
        transform: scale(40);
    }
}

